@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* .arabic-font {
    font-family: "Tajawal", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.english-font {
    font-family: 'Cairo', sans-serif;
} */

.rtl {
    direction: rtl;
    text-align: right;
}

/* Additional RTL specific styles */
.rtl .form-control {
    text-align: right;
}
